<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GA Report</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/vendor/bootstrap-select.min.css" rel="stylesheet">
    <link href="assets/css/vendor/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<script src="assets/js/vendor/handlebars-v3.0.1.js"></script>
</head>

<body>
    <nav class="navbar navbar-default" style="display: none;">
		<div class="container">
			<form class="navbar-form navbar-left" role="search">
				<button  class="btn btn-default" data-action="authorize">Sign in with Google</button>
			</form>
		</div>
	</nav>
    <div class="body container-fluid">
        <div class="row">
            <div class="col-sm-3 menu">
                <div class="creds">
                    <select class="selectpicker" name="account" data-width="100%"></select>
                </div>
                <div class="creds">
                    <select class="selectpicker" name="property" data-width="100%"></select>
                </div>
                <div class="creds">
                    <select class="selectpicker" name="profile" data-width="100%"></select>
                </div>
                <ul id="campains" class="nav nav-pills nav-stacked campaigns-list"></ul>
            </div>
            <div class="col-sm-9">
                <div class="row dates">
	                <div class="col-sm-4">
		                <div class="btn-group btn-group-justified" role="group" id="select-report-type">
							<a href="#" class="btn btn-default btn-primary" data-campaign-report="0" role="button">Dates</a>
						  	<a href="#" class="btn btn-default" data-campaign-report="1" role="button">Keywords</a>
						</div>
					</div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <div id="daterange" class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start" />
                            <span class="input-group-addon">-</span>
                            <input type="text" class="input-sm form-control" name="end" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="graph" style="width:100%; height:200px;"></div>
                    <div style="margin-top: 10px;" data="no-data-alert" data-alert="no-graph">
                    	<div class="alert alert-warning text-center" role="alert">N/A</div>
                	</div>
                </div>
		
                <div class="row" id="cpls" style="display: none;">   
                    <div class="col-xs-4"><div class="well well-sm">CPL (chosen dates): <span id="cpltotal"></span></div></div>
                    <div class="col-xs-4"><div class="well well-sm">CPL (last 7 days): <span id="cpl7"></span></div></div>
                    <div class="col-xs-4"><div class="well well-sm">CPL (last 30 days): <span id="cpl30"></span></div></div>
                </div>
                <script id="all-campaigns-table" type="text/x-handlebars-template">
        		<div class="row">
        			<div class="table-responsive">
						<table class="table table-condensed table-striped table-hover">
	                        <thead>
	                            <tr>
	                            	<th style="width:25%">{{#if campaign.type}}Keyword{{else}}Date{{/if}}</th>
	                            	<th>Sessions</th>
	                            	<th>Goal completions: "Call Rail Universal Analytics"</th>
	                            	<th>Goal conversation rates: "Call Rail Universal Analytics"</th>
	                            	<th>Goal completions: "Lead"</th>
	                            	<th>Goal conversation rates: "Lead"</th>
	                            	<th>Cost</th>
	                            	<th>Cost per lead (CPL)</th>
	                            </tr>
	                        </thead>
	                        {{#if rows_count}}
	                        <tbody>
                            {{#if campaign.type}}
                            {{else}}
                                <tr class="info">
                                    <td>{{sumrow.dates}}</td>
                                    <td>{{sumrow.sessions}}</td>
                                    <td>{{sumrow.goal4Completions}}</td>
                                    <td>{{sumrow.goal4ConversionRate}}</td>
                                    <td>{{sumrow.goal1Completions}}</td>
                                    <td>{{sumrow.goal1ConversionRate}}</td>
                                    <td>{{sumrow.adCost}}</td>
                                    <td>{{sumrow.cpl}}</td>
                                </tr>
                            {{/if}}
	                        	{{#each rows}}
	                            <tr>
	                            	{{#each this}}
	                            	<td>{{this}}</td>
	                            	{{/each}}
	                            </tr>
	                            {{/each}}
	                        </tbody>
	                        {{/if}}
	                    </table>
                	</div>
                </div>	
                </script>

				<section id="table-wraper"></section>
				<div class="row" data-alert="no-campaings" data="no-data-alert">
                	<div class="alert alert-warning text-center" role="alert">No campaign for this dates!</div>
            	</div>	
            </div>
        </div>
        <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</div>
    </div>
    <!-- jQuery -->
    <!-- <script src="//code.jquery.com/jquery.js"></script> -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/jquery.storageapi.min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <!-- Bootstrap JavaScript -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="assets/js/vendor/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/vendor/highcharts.js"></script>
    <script src="assets/js/auth.js"></script>
    <script src="assets/js/report.js"></script>
    <script src="assets/js/profile.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- Load the Client Library. Use the onload parameter to specify a callback function -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>

</html>
