.report-nav {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
}

.body {
    padding-top: 20px;
}

.menu > * {
    margin-bottom: 5px;
}

.datepicker {
    /* margin-top: 0; */
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    font-size: 20px;
    line-height: 5em;
}

.dates {
    margin-bottom: 10px;
}

th {
    width: 10%;
    font-size: 12px;
}
/*#table-wraper table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}*/
